body{
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
}

.label { /*Label*/
    width: 100%;
    margin-bottom: 15px;
    font-weight: 400;
    line-height: 1.42857143;
    display: inline-block;
    max-width: 100%;
}

.hint {/*Hint*/
    margin-top: 5px;
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
    color: #737373;
    font-style: italic;
    font-weight: 300;
}


.form-control:focus { /*Input box when focused*/
    border-color: #047cc2!important;
    box-shadow: none;
}

.list-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}
.list-item:hover {
    border-style: solid;
    border-width: thick;
    border-color: black;
}

.has-error em.control-message { /*Error area when there is an error*/
    background: #f56954;
    display: block;
    width: 96%;
    color: #FFF;
    padding: 5px 10px;
}

.form-group.has-error .form-control { /*Input box when there is an error*/
    border-color: #f56954!important;
    box-shadow: none;
}